body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: #89179e;
}

.loader {
  position: absolute;
  width: 300px;
  height: 300px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(60deg);
          transform: rotateX(60deg);
}

.loader span {
  position: absolute;
  display: block;
  border: 2px solid #ecf010;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  -webkit-transform: translateZ(-100px);
          transform: translateZ(-100px);
  -webkit-animation: animate 2s ease-in-out infinite;
          animation: animate 2s ease-in-out infinite;
}

.loader span:nth-child(1) {
  top: calc(1px * 10 - 10px);
  left: calc(1px * 10 - 10px);
  bottom: calc(1px * 10 - 10px);
  right: calc(1px * 10 - 10px);
  -webkit-animation-delay: calc(1.5s - 1s * 0.1);
          animation-delay: calc(1.5s - 1s * 0.1);
}

.loader span:nth-child(2) {
  top: calc(2px * 10 - 10px);
  left: calc(2px * 10 - 10px);
  bottom: calc(2px * 10 - 10px);
  right: calc(2px * 10 - 10px);
  -webkit-animation-delay: calc(1.5s - 2s * 0.1);
          animation-delay: calc(1.5s - 2s * 0.1);
}

.loader span:nth-child(3) {
  top: calc(3px * 10 - 10px);
  left: calc(3px * 10 - 10px);
  bottom: calc(3px * 10 - 10px);
  right: calc(3px * 10 - 10px);
  -webkit-animation-delay: calc(1.5s - 3s * 0.1);
          animation-delay: calc(1.5s - 3s * 0.1);
}

.loader span:nth-child(4) {
  top: calc(4px * 10 - 10px);
  left: calc(4px * 10 - 10px);
  bottom: calc(4px * 10 - 10px);
  right: calc(4px * 10 - 10px);
  -webkit-animation-delay: calc(1.5s - 4s * 0.1);
          animation-delay: calc(1.5s - 4s * 0.1);
}

.loader span:nth-child(5) {
  top: calc(5px * 10 - 10px);
  left: calc(5px * 10 - 10px);
  bottom: calc(5px * 10 - 10px);
  right: calc(5px * 10 - 10px);
  -webkit-animation-delay: calc(1.5s - 5s * 0.1);
          animation-delay: calc(1.5s - 5s * 0.1);
}

.loader span:nth-child(6) {
  top: calc(6px * 10 - 10px);
  left: calc(6px * 10 - 10px);
  bottom: calc(6px * 10 - 10px);
  right: calc(6px * 10 - 10px);
  -webkit-animation-delay: calc(1.5s - 6s * 0.1);
          animation-delay: calc(1.5s - 6s * 0.1);
}

.loader span:nth-child(7) {
  top: calc(7px * 10 - 10px);
  left: calc(7px * 10 - 10px);
  bottom: calc(7px * 10 - 10px);
  right: calc(7px * 10 - 10px);
  -webkit-animation-delay: calc(1.5s - 7s * 0.1);
          animation-delay: calc(1.5s - 7s * 0.1);
}

.loader span:nth-child(8) {
  top: calc(8px * 10 - 10px);
  left: calc(8px * 10 - 10px);
  bottom: calc(8px * 10 - 10px);
  right: calc(8px * 10 - 10px);
  -webkit-animation-delay: calc(1.5s - 8s * 0.1);
          animation-delay: calc(1.5s - 8s * 0.1);
}

.loader span:nth-child(9) {
  top: calc(9px * 10 - 10px);
  left: calc(9px * 10 - 10px);
  bottom: calc(9px * 10 - 10px);
  right: calc(9px * 10 - 10px);
  -webkit-animation-delay: calc(1.5s - 9s * 0.1);
          animation-delay: calc(1.5s - 9s * 0.1);
}

.loader span:nth-child(10) {
  top: calc(10px * 10 - 10px);
  left: calc(10px * 10 - 10px);
  bottom: calc(10px * 10 - 10px);
  right: calc(10px * 10 - 10px);
  -webkit-animation-delay: calc(1.5s - 10s * 0.1);
          animation-delay: calc(1.5s - 10s * 0.1);
}

.loader span:nth-child(11) {
  top: calc(11px * 10 - 10px);
  left: calc(11px * 10 - 10px);
  bottom: calc(11px * 10 - 10px);
  right: calc(11px * 10 - 10px);
  -webkit-animation-delay: calc(1.5s - 11s * 0.1);
          animation-delay: calc(1.5s - 11s * 0.1);
}

.loader span:nth-child(12) {
  top: calc(12px * 10 - 10px);
  left: calc(12px * 10 - 10px);
  bottom: calc(12px * 10 - 10px);
  right: calc(12px * 10 - 10px);
  -webkit-animation-delay: calc(1.5s - 12s * 0.1);
          animation-delay: calc(1.5s - 12s * 0.1);
}

.loader span:nth-child(13) {
  top: calc(13px * 10 - 10px);
  left: calc(13px * 10 - 10px);
  bottom: calc(13px * 10 - 10px);
  right: calc(13px * 10 - 10px);
  -webkit-animation-delay: calc(1.5s - 13s * 0.1);
          animation-delay: calc(1.5s - 13s * 0.1);
}

.loader span:nth-child(14) {
  top: calc(14px * 10 - 10px);
  left: calc(14px * 10 - 10px);
  bottom: calc(14px * 10 - 10px);
  right: calc(14px * 10 - 10px);
  -webkit-animation-delay: calc(1.5s - 14s * 0.1);
          animation-delay: calc(1.5s - 14s * 0.1);
}

.loader span:nth-child(15) {
  top: calc(15px * 10 - 10px);
  left: calc(15px * 10 - 10px);
  bottom: calc(15px * 10 - 10px);
  right: calc(15px * 10 - 10px);
  -webkit-animation-delay: calc(1.5s - 15s * 0.1);
          animation-delay: calc(1.5s - 15s * 0.1);
}

@-webkit-keyframes animate {
  0%, 100% {
    -webkit-transform: translateZ(-100px);
            transform: translateZ(-100px);
  }
  50% {
    -webkit-transform: translateZ(100px);
            transform: translateZ(100px);
  }
}

@keyframes animate {
  0%, 100% {
    -webkit-transform: translateZ(-100px);
            transform: translateZ(-100px);
  }
  50% {
    -webkit-transform: translateZ(100px);
            transform: translateZ(100px);
  }
}
/*# sourceMappingURL=style.css.map */