$background: white;

body {
  --accent-color: orangered;
  --background-color: white;
  --text-color: black;
  --button-text-color: white;
  --transition-delay: 1s;
  // background-color: $background;
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height: 100vh;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all 1s;
  overflow: hidden;
}

body.dark {
  // background-color: black;
  --accent-color: #d0d066;
  --background-color: black;
  --text-color: white;
  --button-text-color: black;
  --transition-delay: 1s;


}


.theme-toggle-button {
 background-color: var(--accent-color)
}

.sun-moon-container {
  --rotation: 0;
  position: absolute;
  display: flex;
  justify-content:center;
  align-items: center;
  top: 0;
  height: 200vmin;
  pointer-events: none;
  transform: rotate(var(--rotation));
  transition: transform 1s;
}

.dark .sun-moon-container { 
  --rotation: 180deg;
}


.sun, .moon  {
  position: absolute;
  transition: all 1s;
  fill: var(--accent-color);
}

.sun {
  top: 5%;
}

.dark .sun {
  opacity: 0 ;
}

.moon  {
  bottom: 5%;
  opacity: 0;
}

.dark .moon {
  opacity: 1; 
}